* {
    box-sizing: border-box;
  }
  

body{
    width: 76%;
    height: 100%;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 25px;
    display: block;
    margin-left: 201px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #000000;
}


nav{
    padding-top: 10px;
    text-align: center;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}


a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1;
    line-height: 30px;
    margin-left: 40px;
    color: #001D5D;
    padding: 2px 27px 20px 35px;
}

section {
    display: -webkit-flex;
    display: flex;
  }

ul{
    list-style-type: none;
    text-align: left;
}

li{
    color: #B8BFCF;
}

h4{
    margin-left: 41px;
    margin-top: 0px;
}

  ::placeholder {
      color: #000000;
      font-family: 'Karla', sans-serif;
      font-size: 14px;
      font-weight: 600;
  }



.logo{
    width: 200px;
    height: 35px;
    float: left;
    margin-left: 13px;
    margin-top: 10px;
}

.home{
    background-image: url(../Icons/SVGs/Home.svg);
    width: 23px;
    height: 20px;
    background-size: 23%;
    background-repeat: no-repeat;
}

.icon{
    background-image: url(../Icons/SVGs/records.svg);
    width: 20px;
    height: 20px;
    background-size: 20%;
    background-repeat: no-repeat;
}

.music{
    background-image: url(../Icons/SVGs/music.svg);
    width: 19px;
    height: 20px;
    background-size: 24%;
    background-repeat: no-repeat;
}

.artists{
    background-image: url(../Icons/SVGs/artists.svg);
    width: 20px;
    height: 20px;
    background-size: 24%;
    background-repeat: no-repeat;
}

.concerts{
    background-image: url(../Icons/SVGs/concerts.svg);
    width: 21px;
    height: 20px;
    background-size: 21%;
    background-repeat: no-repeat;
}

.btn{
    width: 175px;
    height: 40px;
    line-height: 18px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    background-color: #D9F0D0;
    color: #68C242;
    margin-right: 11px;
    font-family: 'Karla', sans-serif;
    border-style: none;
    cursor: pointer;  
}

.btn:hover {
    background-color: #68C242;
    color: #D9F0D0;
}

.hero-text {
    -webkit-animation:zoom 12s infinite;
    animation:zoom 12s infinite;
    background:url(../images/image1.png) center center fixed no-repeat;
    height: 618px;
    width: 100%;
    background-size: cover;
    transition: transform ease 0.3s;
    overflow: hidden;
    position: relative;
}


@-webkit-keyframes zoom{
    0%,100%{
        background-size:80%;
    }
    50%{
        background-size:100%;
    }
}
@keyframes zoom{
    0%, 100%{
        background-size:80%;
    }
    50%{
        background-size:100%;
    }
}


.introduction {
    background-color: #FFFFFF;
    padding: 100px 0px;
    width: 100%;
}

.profile {
    float: left; 
    margin-top: 30px; 
    margin-left: 50px; 
    height: 410px;
    height: 527px;
}    

.slider {
    background-color: #F6F6F6;
    width: 100%;
}

.CardHeader{
    padding: 40px 354px;
    text-align: center;  
}

.release{
    color: #001D5D;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 4px;
    
}

.card{
    background-color: #FFFFFF;
    box-shadow: 0 0 0.937em rgb(0 0 0 / 67%);
    width: 545px;
    border-radius: 2px;
    display: flex;
    position: relative;
    left: 342px;
}

.cardHero{
    flex: 0 0 35%;
    position: relative;
    background-color: #F6F6F6;
}

.cardContent{
    flex: 1;
    padding: 12px 21px 0px 17px;
}

.cardContent h2{
    color: #001D5D;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 30px;
}

.title{
    color: #68C242;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 3px;
}

.cardImage{
    display: block;
    width: 85%;
    height: 80%;
    padding-top: 64px;
    padding-left: 15px;
}

.leftctr {
    position: relative;
    left: 489px;
}

.rightctr {
    position: relative;
    left: 434px; 
}

.ctrbtn {
    margin-top: 49px;
    margin-bottom: 51px;
    cursor: pointer;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  



.form {
    background-color: #FFFFFF;
    width: 100%;
}

.container{
    width: 100%;
    height: 100%;
    text-align: left;
    margin-left: 72px;
    margin-top: 154px;
}

.heading{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 0.73px;
    line-height: 76px;
    font-family: 'Karla', sans-serif;
    margin-bottom: 0px;
}

.subtext {
    color: #FFFFFF;
    width: 528px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 25px;
    margin-top: 2px;
}
.playbtn {
    float: left;
    margin-top: 11px;
}

.watchvideo {
    color: #ffffff;
    margin-left: 52px;
    margin-top: 34px;

}

.details {
    margin-left: 55px;
}

.introheader {
    color: #001D5D;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0px;
    line-height: 50px;
    width: 310px;
    margin-bottom: 15px;
}

.intropara {
    margin-top: 11px;
    color:#525252;
    padding-right: 150px;
    margin-bottom: 27px;
}

.form-container {
    margin-left: 72px;
    width: 800px;
}

.formhead {
    color: #001D5D;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    letter-spacing: 0px;
    line-height: 50px;
    width: 310px;
    margin-top: 81px;
    margin-bottom: 4px;

}
.formpara {
    margin-top: 10px;
    width: 418px;
    color: #525252
}

.form-image {  
    margin-left: 161px;
}

.fullname {
    margin-top: 46px;
}
.footer1, .footer2, .footer3, .footer4, .footer5, .footer6{
    flex: 0 0 17%;
    position: relative;
    padding: 35px 12px 35px 12px;
}

.footerLogo{
    padding-left: 43px;
}

.address{
    color: #FFFFFF;
}

hr { 
    color: #B8BFCF;
    width: 69%;
    height: 0px;
    margin: 0px;
    position: absolute;
    left: 265px;
}

.footerSec{
    display: flex;
    position: relative;
    width:90%;
    left:-25px;
}

.sIcon{
    display: flex;
    position: relative;
    left: 51px;
}

.iconState, .socialIcons{
    flex: 0 0 33%;
    position: relative;
    padding: 0px 0px 0px 10px;
    float: left;
    left: -31px;
    width: 159px;
}

.socialIcons{
    flex: 0 0 35%;
    position: relative;
    float: right;
    left: 627px;
    top: 5px;
}

.IconsSocial{
    width: 35px;
    height: 35px;
    padding: 8px;
}


input, select, textarea {
    background-color: #e8e8e8;
    border: none;   
}

#header{
    background-color: #ffffff;
    height: 65px;
    width: 100%;
    position: sticky;
    z-index: 1;
    overflow: hidden;
    top:0;
  }

#fname {
    width: 248px;
    height: 38px;
    padding-left: 13px;
}

#lname {
    width: 248px;
    height: 38px;
    padding-left: 13px;
    margin-left: 35px;
}

#email {
    width: 248px;
    height: 38px;
    padding-left: 13px;
}

#reason {
    width: 248px;
    height: 40px;
    padding-left: 13px;
    margin-left: 35px;
}

#email, #reason {
    margin-top:35px;
    font-family: 'Karla' sans-serif;
}

#subject {
    margin-top: 35px;
    width: 538px;
    height: 135px;
    margin-bottom: 42px;
    padding-left: 13px
}

#footer{
    background-color: #001D5D;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    margin-top: -7px;
    overflow: hidden;
}


#social{
    background-color: #001D5D;
    width: 100%;
    color: #FFFFFF;
    margin-top: -7px;
    height: 90px;
}

/*  */



/*  */


@media (max-width: 800px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    #header a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    display: block;
  }
  #header.responsive {position: relative;}
  #header.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #header.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  .logo {
    margin-right: -5%;
    margin-top: 18px;
  }
}
